/* Informacion Personal */
footer {
    background-color: #e6e6e6;
    color: #151515;
    padding: 26px 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    column-gap: 40px;
    row-gap: 10px;
    align-items: start;
    justify-items: center;
}
