
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 0px;
        }
    }
}

main p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    
    h2 {
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-decoration: underline;
}
}