

.ContenidoPrincipal {
    background-image: url("../img/fondo_inicio.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.TituloPrincipal {
    font-size: 55px;
    margin-bottom: 20px;
}

.parrafo-principal {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
    
}


.info {
    background-color: #a89809;
}