.servicios {
    background-color: #eaf4ee;
    padding: 20px 22px;
    border-top: 4px solid #013220;
    border-bottom: 4px solid #013220;

    h1 {
        margin-top: 0;
        color: #013220;
        text-align: center;
    }

    h2 {
        text-decoration: underline;
    }
}